@import '../variables';

$van-uni-toast-max-width: var(--van-uni-toast-max-width, 70%);
$van-uni-toast-font-size: var(--van-uni-toast-font-size, $van-font-size-md);
$van-uni-toast-text-color: var(--van-uni-toast-text-color, $van-white);
$van-uni-toast-loading-icon-color: var(--van-uni-toast-loading-icon-color, $van-white);
$van-uni-toast-line-height: var(--van-uni-toast-line-height, $van-line-height-md);
$van-uni-toast-radius: var(--van-uni-toast-radius, $van-radius-lg);
$van-uni-toast-background: var(--van-uni-toast-background, rgba(0, 0, 0, 0.7));
$van-uni-toast-icon-size: var(--van-uni-toast-icon-size, 36px);
$van-uni-toast-text-min-width: var(--van-uni-toast-text-min-width, 96px);
$van-uni-toast-text-padding: var(--van-uni-toast-text-padding, $van-padding-xs $van-padding-sm);
$van-uni-toast-default-padding: var(--van-uni-toast-default-padding, $van-padding-md);
$van-uni-toast-default-width: var(--van-uni-toast-default-width, 88px);
$van-uni-toast-default-min-height: var(--van-uni-toast-default-min-height, 88px);

uni-toast {
    .uni-toast {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        transition: all $van-duration-fast;

        width: $van-uni-toast-default-width;
        max-width: $van-uni-toast-max-width;
        min-height: $van-uni-toast-default-min-height;
        padding: $van-uni-toast-default-padding;
        color: $van-uni-toast-text-color;
        font-size: $van-uni-toast-font-size;
        line-height: $van-uni-toast-line-height;

        text-align: center;
        background: $van-uni-toast-background;
        border-radius: $van-uni-toast-radius;

        &__icon {
            font-size: $van-uni-toast-icon-size;
            width: $van-uni-toast-icon-size !important;
            height: $van-uni-toast-icon-size !important;
            margin: 0;
            padding: 2px;
        }

        &__content {
            margin: $van-padding-xs 0 0;

            &:empty {
                display: none;
            }
        }
    }

    .uni-loading {
        padding: $van-padding-base;
        color: $van-uni-toast-loading-icon-color;
    }

    .uni-sample-toast {
        @extend .uni-toast;

        width: fit-content;
        min-width: $van-uni-toast-text-min-width;
        min-height: 0;
        padding: $van-uni-toast-text-padding;
    }

    .uni-simple-toast {
        &__text {
            background-color: transparent;
            border-radius: initial;
            font-size: inherit;
            padding: 0;
        }
    }
}
