@import '../styles/variables.scss';

$van-progress-height: var(--van-progress-height, 4px);
$van-progress-color: var(--van-progress-color, $van-primary-color);
$van-progress-inactive-color: var(--van-progress-inactive-color, $van-gray-5);
$van-progress-background: var(--van-progress-background, $van-gray-3);
$van-progress-pivot-padding: var(--van-progress-pivot-padding, 0 5px);
$van-progress-pivot-text-color: var(--van-progress-pivot-text-color, $van-white);
$van-progress-pivot-font-size: var(--van-progress-pivot-font-size, $van-font-size-xs);
$van-progress-pivot-line-height: var(--van-progress-pivot-line-height, 1.6);
$van-progress-pivot-background: var(--van-progress-pivot-background, $van-primary-color);

.van-progress {
    position: relative;
    height: $van-progress-height;
    background: $van-progress-background;
    border-radius: $van-progress-height;

    &__portion {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: $van-progress-color;
        border-radius: inherit;
        transform-origin: 0;
        transition: all $van-duration-base $van-ease-out;

        &--inactive {
            background: $van-progress-inactive-color;
        }
    }

    &__pivot {
        position: absolute;
        top: 50%;
        box-sizing: border-box;
        min-width: 3.6em;
        padding: $van-progress-pivot-padding;
        color: $van-progress-pivot-text-color;
        font-size: $van-progress-pivot-font-size;
        line-height: $van-progress-pivot-line-height;
        text-align: center;
        word-break: keep-all;
        background: $van-progress-pivot-background;
        border-radius: 1em;
        transition: all $van-duration-base $van-ease-out;

        &--inactive {
            background: $van-progress-inactive-color;
        }
    }
}
