@import '../styles/variables.scss';
@import '../styles/mixins/hairline.scss';

$van-cell-font-size: var(--van-cell-font-size, $van-font-size-md);
$van-cell-line-height: var(--van-cell-line-height, 24px);
$van-cell-vertical-padding: var(--van-cell-vertical-padding, 10px);
$van-cell-horizontal-padding: var(--van-cell-horizontal-padding, $van-padding-md);
$van-cell-text-color: var(--van-cell-text-color, $van-text-color);
$van-cell-background: var(--van-cell-background, $van-background-2);
$van-cell-border-color: var(--van-cell-border-color, $van-border-color);
$van-cell-border-offset: var(--van-cell-border-offset, $van-padding-md);
$van-cell-active-color: var(--van-cell-active-color, $van-active-color);
$van-cell-required-color: var(--van-cell-required-color, $van-danger-color);
$van-cell-label-color: var(--van-cell-label-color, $van-text-color-2);
$van-cell-label-font-size: var(--van-cell-label-font-size, $van-font-size-sm);
$van-cell-label-line-height: var(--van-cell-label-line-height, $van-line-height-sm);
$van-cell-label-margin-top: var(--van-cell-label-margin-top, $van-padding-base);
$van-cell-value-color: var(--van-cell-value-color, $van-text-color-2);
$van-cell-value-font-size: var(--van-cell-value-font-size, inherit);
$van-cell-icon-size: var(--van-cell-icon-size, 16px);
$van-cell-right-icon-color: var(--van-cell-right-icon-color, $van-gray-6);
$van-cell-large-vertical-padding: var(--van-cell-large-vertical-padding, $van-padding-sm);
$van-cell-large-title-font-size: var(--van-cell-large-title-font-size, $van-font-size-lg);
$van-cell-large-label-font-size: var(--van-cell-large-label-font-size, $van-font-size-md);
$van-cell-large-value-font-size: var(--van-cell-large-value-font-size, inherit);

.van-cell {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: $van-cell-vertical-padding $van-cell-horizontal-padding;
    overflow: hidden;
    color: $van-cell-text-color;
    font-size: $van-cell-font-size;
    line-height: $van-cell-line-height;
    background: $van-cell-background;

    &::after {
        @include hairline-bottom($van-cell-border-color, $van-cell-border-offset, $van-cell-border-offset);
    }

    /* #ifdef  H5*/
    &:last-child::after,
    /* #endif */
    &--borderless::after {
        display: none;
    }

    &__label {
        margin-top: $van-cell-label-margin-top;
        color: $van-cell-label-color;
        font-size: $van-cell-label-font-size;
        line-height: $van-cell-label-line-height;
    }

    &__title,
    &__value {
        flex: 1;
    }

    &__value {
        position: relative;
        overflow: hidden;
        color: $van-cell-value-color;
        font-size: $van-cell-value-font-size;
        text-align: right;
        vertical-align: middle;
        word-wrap: break-word;
    }

    &__left-icon,
    &__right-icon {
        height: $van-cell-line-height;
        font-size: $van-cell-icon-size;
        line-height: $van-cell-line-height;
        display: inline-flex;
        align-items: center;
    }

    &__left-icon {
        margin-right: $van-padding-base;
    }

    &__right-icon {
        margin-left: $van-padding-base;
        color: $van-cell-right-icon-color;
    }

    &--clickable {
        &:active {
            background-color: $van-cell-active-color;
        }
    }

    &--required {
        overflow: visible;

        &::before {
            position: absolute;
            left: $van-padding-xs;
            color: $van-cell-required-color;
            font-size: $van-cell-font-size;
            content: '*';
        }
    }

    &--center {
        align-items: center;
    }

    &--large {
        padding-top: $van-cell-large-vertical-padding;
        padding-bottom: $van-cell-large-vertical-padding;

        .van-cell__title {
            font-size: $van-cell-large-title-font-size;
        }

        .van-cell__label {
            font-size: $van-cell-large-label-font-size;
        }

        .van-cell__value {
            font-size: $van-cell-large-value-font-size;
        }
    }
}
