@import '../styles/variables.scss';

$van-tabbar-item-font-size: var(--van-tabbar-item-font-size, $van-font-size-sm);
$van-tabbar-item-text-color: var(--van-tabbar-item-text-color, $van-text-color);
$van-tabbar-item-active-color: var(--van-tabbar-item-active-color, $van-primary-color);
$van-tabbar-item-active-background: var(--van-tabbar-item-active-background, $van-background-2);
$van-tabbar-item-line-height: var(--van-tabbar-item-line-height, 1);
$van-tabbar-item-icon-size: var(--van-tabbar-item-icon-size, 22px);
$van-tabbar-item-icon-margin-bottom: var(--van-tabbar-item-icon-margin-bottom, $van-padding-base);

.van-tabbar-item {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $van-tabbar-item-text-color;
    font-size: $van-tabbar-item-font-size;
    line-height: $van-tabbar-item-line-height;
    // cursor: pointer;

    &__icon {
        margin-bottom: $van-tabbar-item-icon-margin-bottom;
        font-size: $van-tabbar-item-icon-size;
    }

    &--active {
        color: $van-tabbar-item-active-color;
        background-color: $van-tabbar-item-active-background;
    }
}
