@import '../styles/variables.scss';

$van-circle-text-color: var(--van-circle-text-color, $van-text-color);

.van-circle {
    position: relative;
    display: inline-block;
    text-align: center;

    // &__layer {
    //     stroke: $van-circle-layer-color;
    // }

    // &__hover {
    //     fill: none;
    //     stroke: $van-circle-color;
    //     stroke-linecap: round;
    // }

    &__text {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        color: $van-circle-text-color;
    }
}
