@import '../styles/variables.scss';

$van-action-bar-button-height: var(--van-action-bar-button-height, 40px);
$van-action-bar-button-warning-color: var(--van-action-bar-button-warning-color, $van-gradient-orange);
$van-action-bar-button-danger-color: var(--van-action-bar-button-danger-color, $van-gradient-red);

.van-action-bar-button {
    flex: 1;
    font-weight: $van-font-bold;
    font-size: $van-font-size-md;
    border: none;

    --van-button-default-width: 100%;
    --van-button-default-height: #{$van-action-bar-button-height};
    --van-button-border-width: 0;
    --van-button-radius: #{$van-radius-max};

    &--only-one {
        margin: 0 5px;
    }

    &--first {
        margin-left: 5px;

        --van-button-radius: #{$van-radius-max} 0 0 #{$van-radius-max};
    }

    &--last {
        margin-right: 5px;

        --van-button-radius: 0 #{$van-radius-max} #{$van-radius-max} 0;
    }

    &--center {
        --van-button-radius: 0;
    }

    &--warning {
        --van-button-warning-background: #{$van-action-bar-button-warning-color};
    }

    &--danger {
        --van-button-danger-background: #{$van-action-bar-button-danger-color};
    }

    // @media (max-width: 321px) {
    //     font-size: 13px;
    // }
}
