@import '../styles/variables.scss';
@import '../styles/safe-area.scss';

$van-submit-bar-height: var(--van-submit-bar-height, 50px);
$van-submit-bar-z-index: var(--van-submit-bar-z-index, 100);
$van-submit-bar-background: var(--van-submit-bar-background, $van-background-2);
$van-submit-bar-button-width: var(--van-submit-bar-button-width, 110px);
$van-submit-bar-price-color: var(--van-submit-bar-price-color, $van-danger-color);
$van-submit-bar-price-font-size: var(--van-submit-bar-price-font-size, $van-font-size-sm);
$van-submit-bar-price-integer-font-size: var(--van-submit-bar-price-integer-font-size, 20px);
$van-submit-bar-price-font: var(--van-submit-bar-price-font, $van-price-font);
$van-submit-bar-text-color: var(--van-submit-bar-text-color, $van-text-color);
$van-submit-bar-text-font-size: var(--van-submit-bar-text-font-size, $van-font-size-md);
$van-submit-bar-tip-padding: var(--van-submit-bar-tip-padding, $van-padding-xs $van-padding-sm);
$van-submit-bar-tip-font-size: var(--van-submit-bar-tip-font-size, $van-font-size-sm);
$van-submit-bar-tip-line-height: var(--van-submit-bar-tip-line-height, 1.5);
$van-submit-bar-tip-color: var(--van-submit-bar-tip-color, $van-orange-dark);
$van-submit-bar-tip-background: var(--van-submit-bar-tip-background, $van-orange-light);
$van-submit-bar-tip-icon-size: var(--van-submit-bar-tip-icon-size, 12px);
$van-submit-bar-button-height: var(--van-submit-bar-button-height, 40px);
$van-submit-bar-padding: var(--van-submit-bar-padding, 0 $van-padding-md);

.van-submit-bar {
    width: 100%;
    background: $van-submit-bar-background;
    user-select: none;

    &--fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: $van-submit-bar-z-index;
    }

    &__tip {
        padding: $van-submit-bar-tip-padding;
        color: $van-submit-bar-tip-color;
        font-size: $van-submit-bar-tip-font-size;
        line-height: $van-submit-bar-tip-line-height;
        background: $van-submit-bar-tip-background;
    }

    &__tip-icon {
        display: inline-block;
        margin-right: $van-padding-base;
        font-size: $van-submit-bar-tip-icon-size;
        vertical-align: middle;
    }

    &__tip-text {
        vertical-align: middle;
    }

    &__bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: $van-submit-bar-height;
        padding: $van-submit-bar-padding;
        font-size: $van-submit-bar-text-font-size;
    }

    &__text {
        flex: 1;
        padding-right: $van-padding-sm;
        color: $van-submit-bar-text-color;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        span {
            display: inline-block;
        }
    }

    &__suffix-label {
        margin-left: $van-padding-base;
        font-weight: $van-font-bold;
    }

    &__price {
        color: $van-submit-bar-price-color;
        font-weight: $van-font-bold;
        font-size: $van-submit-bar-price-font-size;
        margin-left: $van-padding-base;

        &-integer {
            font-size: $van-submit-bar-price-integer-font-size;
            font-family: $van-submit-bar-price-font;
        }
    }

    &__button {
        --van-button-default-width: #{$van-submit-bar-button-width};
        --van-button-default-height: #{$van-submit-bar-button-height};
        --van-button-border-width: 0;
        --van-button-danger-background: #{$van-gradient-red};

        font-weight: $van-font-bold;
    }
}
