@import '../styles/variables.scss';
@import '../styles/mixins/hairline.scss';

$van-share-sheet-header-padding: var(--van-share-sheet-header-padding, $van-padding-sm $van-padding-md);
$van-share-sheet-title-color: var(--van-share-sheet-title-color, $van-text-color);
$van-share-sheet-title-font-size: var(--van-share-sheet-title-font-size, $van-font-size-md);
$van-share-sheet-title-line-height: var(--van-share-sheet-title-line-height, $van-line-height-md);
$van-share-sheet-description-color: var(--van-share-sheet-description-color, $van-text-color-2);
$van-share-sheet-description-font-size: var(--van-share-sheet-description-font-size, $van-font-size-sm);
$van-share-sheet-description-line-height: var(--van-share-sheet-description-line-height, 16px);
$van-share-sheet-icon-size: var(--van-share-sheet-icon-size, 48px);
$van-share-sheet-option-name-color: var(--van-share-sheet-option-name-color, $van-gray-7);
$van-share-sheet-option-name-font-size: var(--van-share-sheet-option-name-font-size, $van-font-size-sm);
$van-share-sheet-option-description-color: var(--van-share-sheet-option-description-color, $van-text-color-3);
$van-share-sheet-option-description-font-size: var(--van-share-sheet-option-description-font-size, $van-font-size-sm);
$van-share-sheet-cancel-button-font-size: var(--van-share-sheet-cancel-button-font-size, $van-font-size-lg);
$van-share-sheet-cancel-button-height: var(--van-share-sheet-cancel-button-height, 48px);
$van-share-sheet-cancel-button-background: var(--van-share-sheet-cancel-button-background, $van-background-2);

.van-share-sheet {
    &__header {
        padding: $van-share-sheet-header-padding;
        text-align: center;
    }

    &__title {
        margin-top: $van-padding-xs;
        color: $van-share-sheet-title-color;
        font-weight: normal;
        font-size: $van-share-sheet-title-font-size;
        line-height: $van-share-sheet-title-line-height;
    }

    &__description {
        display: block;
        margin-top: $van-padding-xs;
        color: $van-share-sheet-description-color;
        font-size: $van-share-sheet-description-font-size;
        line-height: $van-share-sheet-description-line-height;
    }

    &__options {
        position: relative;
        display: flex;
        padding: $van-padding-md 0 $van-padding-md $van-padding-xs;
        //overflow-x: auto;
        //overflow-y: visible;
        //-webkit-overflow-scrolling: touch;

        &--border::before {
            @include hairline-top($van-border-color, $van-padding-md);
        }

        &::-webkit-scrollbar {
            height: 0;
        }
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;
    }

    &__icon,
    &__image-icon {
        width: $van-share-sheet-icon-size;
        height: $van-share-sheet-icon-size;
        margin: 0 $van-padding-md;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $van-gray-7;
        border-radius: 100%;
        background-color: $van-gray-2;

        &--link,
        &--poster,
        &--qrcode {
            font-size: 26px;
        }

        &--weapp-qrcode {
            font-size: 28px;
        }

        &--qq,
        &--weibo,
        &--wechat,
        &--wechat-moments {
            font-size: 30px;
            color: $van-white;
        }

        &--qq {
            background-color: #38b9fa;
        }

        &--wechat {
            background-color: #0bc15f;
        }

        &--weibo {
            background-color: #ee575e;
        }

        &--wechat-moments {
            background-color: #7bc845;
        }
    }

    &__name {
        margin-top: $van-padding-xs;
        padding: 0 $van-padding-base;
        color: $van-share-sheet-option-name-color;
        font-size: $van-share-sheet-option-name-font-size;
    }

    &__option-description {
        padding: 0 $van-padding-base;
        color: $van-share-sheet-option-description-color;
        font-size: $van-share-sheet-option-description-font-size;
    }

    &__cancel {
        display: block;
        width: 100%;
        padding: 0;
        font-size: $van-share-sheet-cancel-button-font-size;
        line-height: $van-share-sheet-cancel-button-height;
        text-align: center;
        background: $van-share-sheet-cancel-button-background;
        border: none;
        cursor: pointer;

        &::before {
            display: block;
            height: $van-padding-xs;
            background-color: $van-background;
            content: ' ';
        }

        &:active {
            background-color: $van-active-color;
        }
    }
}
