@import '../styles/variables.scss';

$van-stepper-background: var(--van-stepper-background, $van-active-color);
$van-stepper-button-icon-color: var(--van-stepper-button-icon-color, $van-text-color);
$van-stepper-button-disabled-color: var(--van-stepper-button-disabled-color, $van-background);
$van-stepper-button-disabled-icon-color: var(--van-stepper-button-disabled-icon-color, $van-gray-5);
$van-stepper-button-round-theme-color: var(--van-stepper-button-round-theme-color, $van-primary-color);
$van-stepper-input-width: var(--van-stepper-input-width, 32px);
$van-stepper-input-height: var(--van-stepper-input-height, 28px);
$van-stepper-input-font-size: var(--van-stepper-input-font-size, $van-font-size-md);
$van-stepper-input-line-height: var(--van-stepper-input-line-height, normal);
$van-stepper-input-text-color: var(--van-stepper-input-text-color, $van-text-color);
$van-stepper-input-disabled-text-color: var(--van-stepper-input-disabled-text-color, $van-text-color-3);
$van-stepper-input-disabled-background: var(--van-stepper-input-disabled-background, $van-active-color);
$van-stepper-radius: var(--van-stepper-radius, $van-radius-md);

.van-stepper {
    display: inline-block;
    user-select: none;

    &__minus,
    &__plus {
        position: relative;
        box-sizing: border-box;
        width: $van-stepper-input-height;
        height: $van-stepper-input-height;
        margin: 0;
        padding: 0;
        color: $van-stepper-button-icon-color;
        vertical-align: middle;
        background: $van-stepper-background;
        border: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        // &::before {
        //     width: 50%;
        //     height: 1px;
        // }

        // &::after {
        //     width: 1px;
        //     height: 50%;
        // }

        // &::before,
        // &::after {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     background-color: currentColor;
        //     transform: translate(-50%, -50%);
        //     content: '';
        // }

        &--disabled {
            color: $van-stepper-button-disabled-icon-color;
            background-color: $van-stepper-button-disabled-color;
            cursor: not-allowed;
        }
    }

    &__minus {
        border-radius: $van-stepper-radius 0 0 $van-stepper-radius;

        // &::after {
        //     display: none;
        // }
    }

    &__plus {
        border-radius: 0 $van-stepper-radius $van-stepper-radius 0;
    }

    &__input {
        box-sizing: border-box;
        width: $van-stepper-input-width;
        height: $van-stepper-input-height;
        margin: 0 2px;
        padding: 0;
        color: $van-stepper-input-text-color;
        font-size: $van-stepper-input-font-size;
        line-height: $van-stepper-input-line-height;
        text-align: center;
        vertical-align: middle;
        background: $van-stepper-background;
        border: 0;
        border-width: 1px 0;
        border-radius: 0;
        -webkit-appearance: none;
        display: inline-block;

        &--disabled {
            color: $van-stepper-input-disabled-text-color;
            background-color: $van-stepper-input-disabled-background;
            // fix disabled color in iOS
            -webkit-text-fill-color: $van-stepper-input-disabled-text-color;
            opacity: 1;
        }
    }

    &--round {
        .van-stepper__input {
            background-color: transparent;

            &--disabled {
                color: $van-stepper-input-text-color;
            }
        }

        .van-stepper__plus,
        .van-stepper__minus {
            border-radius: 100%;

            &--disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }

        .van-stepper__plus {
            color: $van-white;
            background: $van-stepper-button-round-theme-color;
        }

        .van-stepper__minus {
            color: $van-stepper-button-round-theme-color;
            background-color: $van-background-2;
            border: 1px solid $van-stepper-button-round-theme-color;
        }
    }
}
