@import '../styles/variables.scss';

$van-card-padding: var(--van-card-padding, $van-padding-xs $van-padding-md);
$van-card-font-size: var(--van-card-font-size, $van-font-size-sm);
$van-card-text-color: var(--van-card-text-color, $van-text-color);
$van-card-background: var(--van-card-background, $van-background);
$van-card-thumb-size: var(--van-card-thumb-size, 88px);
$van-card-thumb-radius: var(--van-card-thumb-radius, $van-radius-lg);
$van-card-title-line-height: var(--van-card-title-line-height, 16px);
$van-card-desc-color: var(--van-card-desc-color, $van-text-color-2);
$van-card-desc-line-height: var(--van-card-desc-line-height, $van-line-height-md);
$van-card-price-color: var(--van-card-price-color, $van-text-color);
$van-card-origin-price-color: var(--van-card-origin-price-color, $van-text-color-2);
$van-card-num-color: var(--van-card-num-color, $van-text-color-2);
$van-card-origin-price-font-size: var(--van-card-origin-price-font-size, $van-font-size-xs);
$van-card-price-font-size: var(--van-card-price-font-size, $van-font-size-sm);
$van-card-price-integer-font-size: var(--van-card-price-integer-font-size, $van-font-size-lg);
$van-card-price-font: var(--van-card-price-font, $van-price-font);

.van-card {
    position: relative;
    box-sizing: border-box;
    padding: $van-card-padding;
    color: $van-card-text-color;
    font-size: $van-card-font-size;
    background: $van-card-background;

    &:not(:first-child) {
        margin-top: $van-padding-xs;
    }

    &__header {
        display: flex;
    }

    &__thumb {
        position: relative;
        flex: none;
        width: $van-card-thumb-size;
        height: $van-card-thumb-size;
        margin-right: $van-padding-xs;

        &-img {
            border-radius: $van-card-thumb-radius;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0; /* hack for flex box ellipsis */
        min-height: $van-card-thumb-size;

        &--centered {
            justify-content: center;
        }
    }

    &__title,
    &__desc {
        word-wrap: break-word;
    }

    &__title {
        max-height: 32px;
        font-weight: $van-font-bold;
        line-height: $van-card-title-line-height;
    }

    &__desc {
        max-height: $van-card-desc-line-height;
        color: $van-card-desc-color;
        line-height: $van-card-desc-line-height;
    }

    &__bottom {
        line-height: $van-line-height-md;
    }

    &__price {
        display: inline-block;
        color: $van-card-price-color;
        font-weight: $van-font-bold;
        font-size: $van-card-price-font-size;
    }

    &__price-integer {
        font-size: $van-card-price-integer-font-size;
        font-family: $van-card-price-font;
    }

    &__price-decimal {
        font-family: $van-card-price-font;
    }

    &__origin-price {
        display: inline-block;
        margin-left: 5px;
        color: $van-card-origin-price-color;
        font-size: $van-card-origin-price-font-size;
        text-decoration: line-through;
    }

    &__num {
        float: right;
        color: $van-card-num-color;
    }

    &__tag {
        position: absolute;
        top: 2px;
        left: 0;
    }

    &__footer {
        flex: none;
        text-align: right;

        :deep(.van-button) {
            margin-left: 5px;
        }
    }
}
