@import '../styles/variables.scss';

$van-tab-text-color: var(--van-tab-text-color, $van-gray-7);
$van-tab-active-text-color: var(--van-tab-active-text-color, $van-text-color);
$van-tab-disabled-text-color: var(--van-tab-disabled-text-color, $van-text-color-3);
$van-tab-font-size: var(--van-tab-font-size, $van-font-size-md);
$van-tab-line-height: var(--van-tab-line-height, $van-line-height-md);
$van-tabs-default-color: var(--van-tabs-default-color, $van-primary-color);
$van-tabs-line-height: var(--van-tabs-line-height, 44px);
$van-tabs-card-height: var(--van-tabs-card-height, 30px);
$van-tabs-nav-background: var(--van-tabs-nav-background, $van-background-2);
$van-tabs-bottom-bar-width: var(--van-tabs-bottom-bar-width, 40px);
$van-tabs-bottom-bar-height: var(--van-tabs-bottom-bar-height, 3px);
$van-tabs-bottom-bar-color: var(--van-tabs-bottom-bar-color, $van-primary-color);

.van-tab {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 $van-padding-base;
    color: $van-tab-text-color;
    font-size: $van-tab-font-size;
    line-height: $van-tab-line-height;

    &--active {
        color: $van-tab-active-text-color;
        font-weight: $van-font-bold;
    }

    &--disabled {
        color: $van-tab-disabled-text-color;
        cursor: not-allowed;
    }

    &--grow {
        flex: 1 0 auto;
        padding: 0 $van-padding-sm;
    }

    &--shrink {
        flex: none;
        padding: 0 $van-padding-xs;
    }

    &--card {
        color: $van-tabs-default-color;
        border-right: $van-border-width solid $van-tabs-default-color;

        &:last-child {
            border-right: none;
        }

        &.van-tab--active {
            color: $van-white;
            background-color: $van-tabs-default-color;
        }

        &.van-tab--disabled {
            color: $van-tab-disabled-text-color;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        &--ellipsis {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    &__icon {
        padding-right: $van-padding-base;
    }

    &__right-icon {
        padding-left: $van-padding-base;
    }
}

.van-tabs {
    position: relative;

    &__wrap {
        display: flex;
        overflow: hidden;

        &--page-top {
            position: fixed;
        }

        &--content-bottom {
            top: auto;
            bottom: 0;
        }
    }

    &__scroll {
        background: $van-tabs-nav-background;
        overflow: auto;

        &--line {
            box-sizing: content-box;
            height: 100%;
        }

        &--card {
            box-sizing: border-box;
            margin: 0 $van-padding-md;
            border: $van-border-width solid $van-tabs-default-color;
            border-radius: $van-radius-sm;

            &.van-tabs__scroll--shrink {
                width: max-content;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__nav {
        position: relative;
        display: flex;
        user-select: none;
        height: 100%;

        &--complete {
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &--line {
            box-sizing: content-box;
        }

        &--line.van-tabs__nav--shrink,
        &--line.van-tabs__nav--complete {
            padding-right: $van-padding-xs;
            padding-left: $van-padding-xs;
        }

        &--card {
            box-sizing: border-box;
        }
    }

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: $van-tabs-bottom-bar-width;
        height: $van-tabs-bottom-bar-height;
        background: $van-tabs-bottom-bar-color;
        border-radius: $van-tabs-bottom-bar-height;
    }

    &__track {
        position: relative;
        width: 100%;
        height: 100%;

        &--animated {
            display: flex;
            transition-property: left;
        }
    }

    &__content {
        &--animated {
            overflow: hidden;
        }
    }

    &--line {
        .van-tabs__wrap {
            height: $van-tabs-line-height;
        }
    }

    &--card {
        .van-tabs__wrap {
            height: $van-tabs-card-height;
        }
    }
}
