@import '../styles/variables.scss';

$van-checkbox-size: var(--van-checkbox-size, 20px);
$van-checkbox-border-color: var(--van-checkbox-border-color, $van-gray-5);
$van-checkbox-duration: var(--van-checkbox-duration, $van-duration-fast);
$van-checkbox-label-margin: var(--van-checkbox-label-margin, $van-padding-xs);
$van-checkbox-label-color: var(--van-checkbox-label-color, $van-text-color);
$van-checkbox-checked-icon-color: var(--van-checkbox-checked-icon-color, $van-primary-color);
$van-checkbox-disabled-icon-color: var(--van-checkbox-disabled-icon-color, $van-gray-5);
$van-checkbox-disabled-label-color: var(--van-checkbox-disabled-label-color, $van-text-color-3);
$van-checkbox-disabled-background: var(--van-checkbox-disabled-background, $van-border-color);

.van-checkbox {
    display: flex;
    align-items: center;
    overflow: hidden;
    user-select: none;

    &--disabled {
        cursor: not-allowed;
    }

    &--label-disabled {
        cursor: default;
    }

    &--horizontal {
        margin-right: $van-padding-sm;
    }

    &__icon {
        flex: none;
        height: 1em;
        font-size: $van-checkbox-size;
        line-height: 1em;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &-default {
            width: 1.25em;
            height: 1.25em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: transparent;
            box-sizing: border-box;
            font-size: 0.8em;
            // line-height: 1.25;
            // text-align: center;
            border: 1px solid $van-checkbox-border-color;
            transition-duration: $van-checkbox-duration;
            transition-property: color, border-color, background-color;
        }

        &--round {
            .van-checkbox__icon-default {
                border-radius: 100%;
            }
        }

        &--indeterminate {
            .van-checkbox__icon-default {
                color: $van-white;
                border-color: $van-checkbox-checked-icon-color;
                background-color: $van-checkbox-checked-icon-color;
            }
        }

        &--checked {
            .van-checkbox__icon-default {
                color: $van-white;
                background-color: $van-checkbox-checked-icon-color;
                border-color: $van-checkbox-checked-icon-color;
            }
        }

        &--disabled {
            cursor: not-allowed;

            .van-checkbox__icon-default {
                background-color: $van-checkbox-disabled-background;
                border-color: $van-checkbox-disabled-icon-color;
            }
        }

        &--disabled {
            &.van-checkbox__icon--checked {
                .van-checkbox__icon-default {
                    color: $van-checkbox-disabled-icon-color;
                }
            }
        }
    }

    &__label {
        margin-left: $van-checkbox-label-margin;
        color: $van-checkbox-label-color;
        line-height: $van-checkbox-size;

        &--left {
            margin: 0 $van-checkbox-label-margin 0 0;
            order: -1;
        }

        &--disabled {
            color: $van-checkbox-disabled-label-color;
        }
    }
}
