@import '../styles/variables.scss';

$van-divider-margin: var(--van-divider-margin, $van-padding-md 0);
$van-divider-vertical-margin: var(--van-divider-vertical-margin, 0 $van-padding-xs);
$van-divider-text-color: var(--van-divider-text-color, $van-text-color-2);
$van-divider-font-size: var(--van-divider-font-size, $van-font-size-md);
$van-divider-line-height: var(--van-divider-line-height, 24px);
$van-divider-border-color: var(--van-divider-border-color, $van-border-color);
$van-divider-content-padding: var(--van-divider-content-padding, $van-padding-md);
$van-divider-content-left-width: var(--van-divider-content-left-width, 10%);
$van-divider-content-right-width: var(--van-divider-content-right-width, 10%);

.van-divider {
    display: flex;
    align-items: center;
    margin: $van-divider-margin;
    color: $van-divider-text-color;
    font-size: $van-divider-font-size;
    line-height: $van-divider-line-height;
    border-color: $van-divider-border-color;
    border-style: solid;
    border-width: 0;

    &::before,
    &::after {
        display: block;
        flex: 1;
        box-sizing: border-box;
        height: 1px;
        border-color: inherit;
        border-style: inherit;
        border-width: $van-border-width 0 0;
    }

    &::before {
        content: '';
    }

    &--hairline {
        &::before,
        &::after {
            transform: scaleY(0.5);
        }
    }

    &--dashed {
        border-style: dashed;
    }

    &--content-center,
    &--content-left,
    &--content-right {
        &::before {
            margin-right: $van-divider-content-padding;
        }

        &::after {
            margin-left: $van-divider-content-padding;
            content: '';
        }
    }

    &--content-left {
        &::before {
            max-width: $van-divider-content-left-width;
        }
    }

    &--content-right {
        &::after {
            max-width: $van-divider-content-right-width;
        }
    }

    &--vertical {
        display: inline-block;
        width: $van-border-width;
        height: 1em;
        margin: $van-divider-vertical-margin;
        vertical-align: middle;

        &::before {
            height: 100%;
            border-width: 0 0 0 $van-border-width;
        }

        &::after {
            display: none;
        }

        &.van-divider--hairline {
            &::before {
                transform: scaleX(0.5);
            }
        }
    }
}
