@import '../styles/variables.scss';

$van-data-tab-text-color: var(--van-data-tab-text-color, $van-gray-7);
$van-data-tab-active-text-color: var(--van-data-tab-active-text-color, $van-text-color);
$van-data-tab-disabled-text-color: var(--van-data-tab-disabled-text-color, $van-text-color-3);
$van-data-tab-font-size: var(--van-data-tab-font-size, $van-font-size-md);
$van-data-tab-default-color: var(--van-data-tab-default-color, $van-primary-color);
$van-data-tab-line-height: var(--van-data-tab-line-height, 44px);
$van-data-tab-nav-background: var(--van-data-tab-nav-background, $van-background-2);
$van-data-tab-bottom-bar-width: var(--van-data-tab-bottom-bar-width, 40px);
$van-data-tab-bottom-bar-height: var(--van-data-tab-bottom-bar-height, 3px);
$van-data-tab-bottom-bar-color: var(--van-data-tab-bottom-bar-color, $van-primary-color);

.van-data-tab {
    position: relative;

    &__scroll {
        overflow: hidden;
        height: $van-data-tab-line-height;
        background: $van-data-tab-nav-background;
    }

    &__nav {
        position: relative;
        display: flex;
        user-select: none;
        box-sizing: content-box;
        height: 100%;
    }

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: $van-data-tab-bottom-bar-width;
        height: $van-data-tab-bottom-bar-height;
        background: $van-data-tab-bottom-bar-color;
        border-radius: $van-data-tab-bottom-bar-height;
    }

    &__track {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        will-change: left;
    }

    &__content {
        &--animated {
            overflow: hidden;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 0 $van-padding-base;
        color: $van-data-tab-text-color;
        font-size: $van-data-tab-font-size;

        &--active {
            color: $van-data-tab-active-text-color;
            font-weight: $van-font-bold;
        }

        &--disabled {
            color: $van-data-tab-disabled-text-color;
            cursor: not-allowed;
        }

        &--grow {
            flex: 1 0 auto;
            padding: 0 $van-padding-sm;
        }

        &--shrink {
            flex: none;
            padding: 0 $van-padding-xs;
        }

        &__text {
            &--ellipsis {
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
}
