@use 'sass:math';

.van-col {
    display: block;
    box-sizing: border-box;
    min-height: 1px;
}

@for $i from 1 through 24 {
    .van-col--#{$i} {
        flex: 0 0 $i * math.div(100%, 24);
        max-width: $i * math.div(100%, 24);
    }

    .van-col--offset-#{$i} {
        margin-left: $i * math.div(100%, 24);
    }
}
